/*****************************************  GENERAL RESET STYLES  *****************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input,
textarea,
select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #000;
}

input:focus::-webkit-input-placeholder {
  color: #000;
}
/***************************************** END GENERAL RESET STYLES  *****************************************/

/* passive, decorative elements of the playing field */
.wrapper {
  max-width: 1360px;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
  transition: all 3000ms ease;
}

.best-score {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  font-size: 20px;
  font-weight: 800;
  color: rgb(233, 233, 8);
  background-color: #629b34;
  border-radius: 10px;
  border: none;
  padding: 5px;
  z-index: 10;
}
.score_area {
  position: absolute;
  width: 360px;
  height: 174px;
  background-image: url("../img/score.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 4px 5px 5px 5px black;
  border-radius: 0 10px 10px 0;
  z-index: 11;
}
.score_orcs {
  width: 30px;
  height: 24px;
  color: rgb(221, 211, 16);
  font-size: 20px;
  position: relative;
  top: 118px;
  left: 120px;
}
.score_tanks {
  width: 30px;
  height: 24px;
  font-size: 20px;
  color: rgb(221, 211, 16);
  position: relative;
  top: 122px;
  left: 120px;
}
.playing_area {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/main.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.playing_area_bottom {
  position: absolute;
  bottom: 36px;
  right: 0px;
  width: 464px;
  height: 109px;
  background-image: url(../img/main_bottom.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 10;
}

.first_tree {
  position: absolute;
  bottom: 273px;
  left: 127px;
  width: 94px;
  height: 331px;
  background-image: url(../img/first_tree.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  z-index: 10;
}

.second_tree {
  position: absolute;
  bottom: 250px;
  left: 582px;
  width: 103px;
  height: 314px;
  background-image: url("../img/second_tree.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  z-index: 10;
}

.stump {
  position: absolute;
  bottom: 253px;
  left: 318px;
  width: 146px;
  height: 129px;
  background-image: url(../img/stump.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  z-index: 10;
}

.bush_1,
.bush_2 {
  position: absolute;
  bottom: 232px;
  width: 200px;
  height: 140px;
  background-image: url(../img/bush_1.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 400ms ease;
  z-index: 10;
  animation: bush-anime 600ms infinite ease-in-out;
}

.bush_2 {
  right: 10px;
  background-image: url(../img/bush_1.png);
}
@keyframes bush-anime {
  0% {
    transform: scale(1.01) skewY(1deg);
  }
  50% {
    transform: scale(1) skewY(0deg);
  }
  100% {
    transform: scale(1.01) skewY(1deg);
  }
}

.arow {
  width: 165px;
  height: 111px;
  background-image: url(../img/arow.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position: bottom;
  background-size: contain;
  bottom: 176px;
  right: 222px;
  z-index: 8;
  animation: arow-anime 600ms infinite ease;
}

@keyframes arow-anime {
  0% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(2px);
  }
}

/* END passive, decorative elements of the playing field */

/* elements for start the game */
.start-game {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  background-color: #629b34;
  border-radius: 30px;
  border: 6px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nick {
  width: 300px;
  height: 40px;
  background-color: #9ced5a;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  color: black;
  padding-left: 20px;
  border: 2px solid black;
}

.start-title {
  font-weight: 600;
  font-size: 40px;
  color: black;
  text-align: center;
}

.btn-for-nick {
  width: 120px;
  height: 60px;
  background-color: #9ced5a;
  border-radius: 10px;
  border: 4px solid black;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-for-nick:hover {
  font-size: 28px;
  transition: all 300ms ease;
}
.btn-for-nick:active {
  box-shadow: 0 0 10px 5px #000000;
  color: #fff;
}
.btn-start {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 80%;
  left: 40%;
  z-index: 15;
  background-color: #629b34;
  border-radius: 10px;
  border: 4px solid black;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  animation: start_game 600ms infinite ease;
}
@keyframes start_game {
  0% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}
.btn-start:active {
  box-shadow: 0 0 10px 5px black;
  color: #fff;
  background-color: #000000;
}

.genelal {
  width: 840px;
  height: 420px;
  position: absolute;
  bottom: 0px;
  left: -600px;
  z-index: 15;
  background-image: url("../img/general.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  transition: all 1000ms ease-out;
}
.general-text {
  width: 520px;
  height: 340px;
  padding: 32px 114px;
  background-image: url("../img/text.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 32px;
  font-weight: 800;
  opacity: 0;
  transition: all 2000ms ease-out;
}

/* END elements for start the game */

/* elements for shooting and their animation */
.orc_1 {
  width: 100px;
  height: 100px;
  background-image: url(../img/orc_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 372px;
  left: 358px;
  z-index: 7;
  transform-origin: bottom;
  transition: all 400ms ease;
  transform: rotateX(90deg);
}

.animation_orc_1 {
  animation: animation1 0.5s forwards;
}
@keyframes animation1 {
  100% {
    transform: rotateX(0deg);
  }
}
.orc_2 {
  width: 150px;
  height: 150px;
  background-image: url(../img/orc_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 91px;
  right: 350px;
  z-index: 9;
  transform-origin: bottom;
  transition: all 400ms ease;
  transform: rotateX(90deg);
}

.animation_orc_2 {
  animation: animation2 2.5s ease;
}

@keyframes animation2 {
  0% {
    transform: translateX(0) translateY(0) rotateX(90deg);
  }
  5% {
    transform: translateX(10px) translateY(5px);
  }
  10% {
    transform: translateX(20px) translateY(0);
  }
  15% {
    transform: translateX(30px) translateY(5px);
  }
  20% {
    transform: translateX(40px) translateY(0);
  }
  25% {
    transform: translateX(50px) translateY(5px);
  }
  30% {
    transform: translateX(70px) translateY(0);
  }
  35% {
    transform: translateX(90px) translateY(5px);
  }
  40% {
    transform: translateX(110px) translateY(0);
  }
  45% {
    transform: translateX(130px) translateY(5px);
  }
  50% {
    transform: translateX(150px) translateY(0);
  }
  55% {
    transform: translateX(170px) translateY(5px);
  }
  60% {
    transform: translateX(190px) translateY(0);
  }
  65% {
    transform: translateX(210px) translateY(5px);
  }
  70% {
    transform: translateX(230px) translateY(0);
  }
  75% {
    transform: translateX(250px) translateY(5px);
  }
  80% {
    transform: translateX(270px) translateY(0);
  }
  85% {
    transform: translateX(290px) translateY(5px);
  }
  90% {
    transform: translateX(310px) translateY(0);
  }
  95% {
    transform: translateX(330px) translateY(5px);
  }
  100% {
    transform: translateX(440px) translateY(0px);
  }
}

.orc_3,
.orc_4,
.orc_5 {
  width: 100px;
  height: 100px;
  background-image: url(../img/orc_3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 356px;
  left: 40px;
  z-index: 7;
  transform-origin: bottom;
  transition: all 400ms ease;
  transform: rotateX(90deg);
}

.orc_4 {
  bottom: 340px;
  left: 1251px;
}
.orc_5 {
  bottom: 360px;
  left: 664px;
  transform-origin: left;
  transform: rotateY(90deg);
}

.animation_orc_5 {
  animation: animation5 0.5s forwards;
}
@keyframes animation5 {
  100% {
    transform: rotateY(0deg);
  }
}
.orc_6 {
  width: 150px;
  height: 150px;
  background-image: url(../img/orc_4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 91px;
  left: 210px;
  z-index: 15;
  transition: all 3000ms ease;
  transform-origin: bottom;
  transform: rotateX(90deg);
}

.animation_orc_6 {
  animation: animation6 4s ease-out;
}

@keyframes animation6 {
  0% {
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
  }
  10% {
    transform: scale(1) rotate(0deg) translateX(100px) translateY(-60px);
  }
  100% {
    transform: scale(1.2) rotate(40deg) translateX(1000px) translateY(-1000px);
  }
}

.tank {
  width: 600px;
  height: 600px;
  background-image: url(../img/tank1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 292px;
  left: 177px;
  transition: all 4000ms ease;
  z-index: 4;
}

.tank_animation {
  animation: tank_animation 4s forwards;
}

@keyframes tank_animation {
  0% {
    transform: translateX(0) scale(1) translateY(0);
  }

  100% {
    transform: translateX(-500px) scale(0.7) translateY(100px);
  }
}

.tank-smoke {
  width: 160px;
  height: 160px;
  background-image: url(../img/tank_boom.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 63px;
  right: 29px;
  z-index: 2;
}

.tank-killed {
  width: 300px;
  height: 300px;
  background-image: url(../img/tank_die.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 13px;
  right: 77px;
  z-index: 2;
}

.kozak,
.kozak2 {
  width: 104px;
  height: 110px;
  background-image: url(../img/kozak.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 370px;
  left: 350px;
  z-index: 7;
}
.kozak2 {
  bottom: 112px;
  left: 888px;
}

.animation_kozak {
  animation: animation_kozak 0.5s forwards;
}
@keyframes animation_kozak {
  100% {
    transform: rotateX(0deg);
  }
}

.flower {
  width: 110px;
  height: 110px;
  background-image: url("../img/sunflower.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 260px;
  left: 370px;
  z-index: 5;
  transform-origin: bottom;
  transition: all 400ms ease;
  transform: rotateX(90deg);
}
.show-flower {
  animation: showflower 1s forwards;
}
@keyframes showflower {
  100% {
    transform: rotateX(0deg);
  }
}

/* END elements for shooting and their animation */

/* elements for game over */
.wrapper-budanov {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/budanov.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 20;
}
.wrapper-budanov-anime {
  animation: budanov 3s ease;
}

@keyframes budanov {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.game-over-div {
  width: 280px;
  height: 500px;
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/kozak_game_over.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 15;
}
.text-game-over {
  width: 540px;
  height: 120px;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 32%;
  z-index: 20;
  border-radius: 40px;
  font-size: 32px;
  font-weight: 800;
  padding: 10px 20px;
}
.badaboom {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 20;
  background-image: url("../img/boom.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1);
  transition: all 2000ms ease-out;
}
.badaboom-anime {
  animation: boom_anime 3s;
}

@keyframes boom_anime {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.6);
  }
}

/* END elements for game over */